<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script defer src="/js/index.js"></script>
    <title>Board Template</title>
</head>
<body >
<button type="button">+</button>
<table>
    <thead>
    <tr th:if="${#lists.size(result)}>0">
        <th>No.</th>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td><a href="#">Post 1</a></td>
        <td>User 1</td>
        <td>2022-01-01</td>
    </tr>
    <tr>
        <td>2</td>
        <td><a href="#">Post 2</a></td>
        <td>User 2</td>
        <td>2022-01-02</td>
    </tr>
    <!-- Additional rows for other posts -->
    </tbody>
</table>
<form>
    <input type="text" name="search" placeholder="Search...">
    <button type="submit">Go</button>
</form>
<nav>
    <ul class="pagination">
        <li><a href="#"><<</a></li>
        <li><a href="#"><</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">></a></li>
        <li><a href="#">>></a></li>
    </ul>
</nav>
</body>
</html>
