<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script defer src="/js/index.js"></script>
    <title>Board Template</title>
</head>
<body >
<button type="button">+</button>
<table>
    <thead>
    <tr>
        <th>No.</th>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="res : ${result}">
        <td th:text="${res.bd_idx}"></td>
        <td th:text="${res.bd_title}"></td>
        <td th:text="${res.bd_writer}"></td>
        <td th:text="${res.bd_regdt}"></td>
    </tr>
    <!-- Additional rows for other posts -->
    </tbody>
</table>
<form>
    <input type="text" name="search" placeholder="Search...">
    <button type="submit">Go</button>
</form>
<!--<nav>
    <ul class="pagination">
        <li><a href="#"><<</a></li>
        <li><a href="#"><</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">></a></li>
        <li><a href="#">>></a></li>
    </ul>
</nav>-->
</body>
</html>
